<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cursos</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="overflow-hidden h-screen w-screen flex flex-col">
    <header class="w-screen p-4 items-center text-center justify-center flex bg-emerald-600 text-2xl text-white">Cursos Online</header>
    <main class="relative bg-white shadow-sm border border-slate-200 rounded-lg flex flex-col w-[80%] h-4/5 m-auto items-center justify-start p-4 overflow-y-auto">
      {% block content %}

      {% endblock %}
    </main>
  </body>
</html>
