<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cursos</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="overflow-hidden h-screen w-screen flex flex-col">
    <header class="w-screen p-4 items-center text-center justify-evenly flex bg-emerald-600 text-2xl text-white">
      <h1>Cursos Online</h1>

      <a href="/logout" class="flex gap-2 items-center">
        <span class="text-xl">Sair</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-escape" viewBox="0 0 16 16">
          <path d="M8.538 1.02a.5.5 0 1 0-.076.998 6 6 0 1 1-6.445 6.444.5.5 0 0 0-.997.076A7 7 0 1 0 8.538 1.02" />
          <path d="M7.096 7.828a.5.5 0 0 0 .707-.707L2.707 2.025h2.768a.5.5 0 1 0 0-1H1.5a.5.5 0 0 0-.5.5V5.5a.5.5 0 0 0 1 0V2.732z" />
        </svg>
      </a>
    </header>
    <main class="relative bg-white shadow-sm border border-slate-200 rounded-lg flex flex-col w-[80%] h-4/5 m-auto items-center justify-start p-4 overflow-y-auto">
      {% block content %}

      {% endblock %}
    </main>
    {% include 'footer.html' %}
  </body>
</html>
