<div class="divide-y divide-slate-200 overflow-y-auto">
  {% for course in courses %}
    <div class="flex items-center justify-between pb-3 pt-3 last:pb-0">
      <div class="flex items-center gap-x-3">
        <span data-status="{{ course.status }}" data-category="{{ course.category }}" class="flex items-center justify-center h-10 w-10 text-xl text-white data-[status='inativo']:!bg-slate-300 data-[category='frontend']:bg-cyan-500 bg-emerald-500 rounded-full">{{ course.name|slice:':1' }}</span>

        <div>
          <h6 class="text-slate-800 font-semibold">
            {{ course.name }}
            <span>{% if course.status == 'inativo' %}(Inativo){% endif %}</span>
          </h6>
          <p class="text-slate-600 text-sm first-letter:uppercase">{{ course.category }}</p>
          <span class="text-slate-600 text-sm">{{ course.lessons.all|length }} aula(s)</span>
        </div>
      </div>
      <div class="flex gap-4 items-center">
        <a href="/edit-course/{{ course.id }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
          </svg>
        </a>

        <button class="text-red-500" onclick="deleteCourse('{{ course.name|escapejs }}', '{{ course.id }}')">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
          </svg>
        </button>
      </div>
    </div>
  {% endfor %}

  <script>
    function deleteCourse(courseName, courseId) {
      if (confirm(`Tem certeza que deseja deletar o curso "${courseName}"?`)) {
        fetch(`delete-course/${courseId}/`, {
          method: 'POST',
          headers: {
            'X-CSRFToken': '{{ csrf_token }}'
          }
        }).then(() => location.reload())
      }
    }
  </script>
</div>
