{% extends 'base.html' %}

{% block content %}
  <div class="w-full h-full">
    {% if courses %}
      <div class="p-4">
        <div class="mb-4 flex items-center justify-between">
          <h5 class="text-slate-800 text-lg font-semibold">Cursos disponíveis</h5>
          <a href="/new-course" class="transition-colors flex items-center justify-center text-md p-1 pr-4 rounded-lg text-white bg-emerald-500 hover:bg-emerald-700">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
            </svg>Novo curso
          </a>
        </div>

        {% include 'courses.html' %}
      </div>
    {% else %}
      <div class="flex flex-col gap-2 items-center justify-center w-full h-full">
        <h3 class="text-xl">Nenhum curso disponível no momento.</h3>
        <p>
          <a href="/new-course" class="text-emerald-500 no-underline hover:underline">Clique aqui</a> para criar um novo curso
        </p>
      </div>
    {% endif %}
  </div>
{% endblock %}
