{% extends 'base.html' %}
{% load l10n %}

{% block link_home %}
  <a href="/student">Cursos Online</a>
{% endblock %}

{% block content %}
  <div class="divide-y divide-slate-200 overflow-y-auto w-full flex flex-wrap gap-6">
    {% for course in courses %}
      <a class="relative flex-1 basis-[20em] max-w-[32em] group" href="./buy-course/{{ course.slug }}">
        <article class="border rounded-md border-slate-800 flex flex-col min-h-64 group-hover:p-2 transition-all">
          <span data-category="{{ course.category }}" class="absolute top-4 right-2 border-b-2 data-[category='frontend']:border-b-cyan-500 border-b-emerald-500">R$ {{ course.price|floatformat:2 }}</span>

          <div class="flex-[0.4] p-4">
            <h4 class="text-slate-400 text-md">{{ course.category|capfirst }}</h4>
            <h2 class="text-slate-800 text-xl">Profª: {{ course.teacher.first_name|capfirst }}</h2>
            <span class="text-slate-600 text-sm">{{ course.lessons.all|length }} aula(s)</span>
          </div>

          <div data-category="{{ course.category }}" class="flex-1 data-[category='frontend']:bg-cyan-500 bg-emerald-500 flex rounded-b-[inherit]">
            <span class="m-auto text-2xl text-white">{{ course.name }}</span>
          </div>
        </article>
      </a>
    {% endfor %}
  </div>
{% endblock %}
